<div class="social-link {{ class }}">
    <a href="{{ url }}" title="{{ title }}" target="{{ target }}">
        <svg class="social-link__icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/icons.svg#{{ icon }}"></use>
        </svg>
    </a>
</div>
